.select-nothing {
    color: rgb(185,22,53);
    color: rgb(230,69,95);
    color: rgb(225,28,64);
    color: rgb(192, 186, 186);
    color: rgb(240, 233, 233);
}

.account-section {
    position: absolute;
    top: 80px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.welcome {
    width: 100%;
    height: 250px;
    background-image: url("https://images.rawpixel.com/image_800/cHJpdmF0ZS9sci9pbWFnZXMvd2Vic2l0ZS8yMDIzLTEyL2Rlc2lnbndpdGhtZTA5X2J1cmd1bmR5X2dyYWRpZW50X2JhY2tncm91bmRfNzhjNTRhZTctNTY0ZS00YWM2LWIwMzYtMDI0Y2U5MmVlZmIwXzEuanBn.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

h3 {
    font-size: 28px;
}

.account-preview {
    display: flex;
    align-items: center;
    gap: 20px;
}

.account-preview img {
    display: inline-block;
    width: 50px;
    height: 50px;
}

.my-profile {
    margin: 50px 150px;
    padding: 50px;
    color: rgb(185,22,53);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.my-profile .account-preview {
    padding-bottom: 10px;
    border-bottom: 1px solid rgb(192, 186, 186);
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #000;
}

form fieldset {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

label {
    font-weight: 700;
}

input {
    font-family: "Quicksand";
    font-size: 16px;
    padding-bottom: 5px;
    border: none;
    border-bottom: 1px solid rgb(185,22,53);
}

.submit input {
    padding: 10px 20px;
    border: none;
    outline: none;
    background-color: rgb(185,22,53);
    color: #fff;
}

.submit input:hover {
    background-color: rgb(230,69,95);
}