.main-cont {
    background-image: linear-gradient(rgb(181, 250, 255), aliceblue);
}

.header {
    padding: 15px 30px;
    margin: 0 10%;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    background-color: white;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo-info {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 35px;
    height: auto;
}

.logo-info p {
    font-size: 25px;
    background-image: linear-gradient(to top right, rgb(33, 253, 132), rgb(180, 255, 255));
    background-clip: text;
    color: transparent;
    font-weight: 700;
}

.links {
    display: flex;
    gap: 20px;
}

.header-link {
    font-weight: 500;
    padding: 10px 20px;
}

.header-link:hover {
    color: #67dd8a;
}

.login-link {
    border: 1px solid rgb(181, 250, 255);
    border-radius: 15px;
}

.login-link:hover {
    color: #fff;
    background-color: rgb(68, 243, 255);
}

.signup-link {
    border: 1px solid rgb(66, 255, 151);
    border-radius: 15px;
}

.signup-link:hover {
    color: #fff;
    background-color: rgb(66, 255, 151);
}

.footer {
    margin: 0 110px;
    padding: 20px 20px;
    display: flex;
    background-color: rgb(13, 14, 15);
    justify-content: space-between;
    align-items: center;
    color: #74eb97;

    border: 2px solid rgb(66, 255, 151);
    border-bottom: none;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}

.social-links {
    display: flex;
    gap: 20px;
}

.social-links i {
    font-size: 25px;
    color: #74eb97;
}

.flash {
    padding: 20px;
    border: 2px solid #000;
    border-radius: 5px;
}

.flash.success {
    background-color: rgb(158, 255, 215);
    border-color: rgb(57, 245, 142);
}

.flash.info {
    background-color: rgb(171, 171, 245);
    border-color: rgb(172, 172, 255);
}

.flash.warning {
    background-color: rgb(250, 243, 183);
    border-color: yellow;
}

.flash.error {
    background-color: rgb(255, 172, 161);
    border-color: red;
}