.main-content {
    width: 100%;
    padding: 30px 50px;
    position: absolute;
    top: 84px;
}

.select-nothing {
    color: rgb(185,22,53);
    color: rgb(230,69,95);
    color: rgb(225,28,64);
    color: rgb(192, 186, 186);
    color: rgb(240, 233, 233);
}

/* .restaurant-intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    color: #000;
} */

.restaurant-intro {
    display: flex;
    gap: 30px;
    color: #000;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}

.restaurant-name {
    font-size: 34px;
    color: rgb(185,22,53);
    margin-bottom: 20px;
}

.restaurant-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.restaurant-location i {
    font-size: 24px;
    color: rgb(230,69,95);
}

.restaurant-dishes {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 50px;
}

.restaurant-dish {
    padding: 20px;
    background: rgb(245, 240, 240);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    justify-content: space-between;
    color: #000;
}

.dish-img {
    display: inline-block;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.dish-info {
    text-align: center;
}

.restaurant-dish h2 {
    color: rgb(230,69,95);
}

.dish-order {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 20px;
}

.dish-order button {
    cursor: pointer;
    background-color: inherit;
    outline: none;
    padding: 7px;
    border-radius: 50%;
}

.dish-order i {
    color: inherit;
    font-weight: 700;
    font-size: 15px;
}

.add-to-order {
    border: 2px solid rgb(9, 151, 73);
    color: rgb(9, 151, 73);
}


.add-to-order:hover {
    color: #fff;
    background-color: rgb(9, 151, 73);
}

.decrease-from-order {
    border: 2px solid rgb(163, 148, 10);
    color: rgb(163, 148, 10);
}

.decrease-from-order:hover {
    color: #fff;
    background-color: rgb(163, 148, 10);
}

.dish-amt {
    font-size: 18px;
    font-weight: 700;
}

.restaurant-footer {
    position: fixed;
    bottom: 0px;
    width: 100%;
    height: 60px;
    text-align: center;
    padding: 20px;
    background-color: rgb(185,22,53);
    display: none;
    justify-content: center;
    align-items: center;
    gap: 50px;
}

.restaurant-footer h3 {
    display: inline-block;
    font-size: 18px;
    font-weight: 700;
    margin-right: 20px;
    color: #fff;
}

.restaurant-checkout {
    outline: none;
    padding: 10px 20px;
    background-color: inherit;
    border: 2px solid #fff;
    color: #fff;
    font-family: "Quicksand" sans-serif;
    font-weight: bold;
}

.restaurant-checkout:hover {
    background-color: #fff;
    color: rgb(230,69,95);
}

.popup-cont {
    position: relative;
    width: 100%;
}

.popup-order-confirm {
    visibility: hidden;
    position: fixed;
    width: 90%;
    height: 70%;
    margin: 0 auto;
    background: rgb(240, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: rgb(185,22,53);
    padding: 50px;
    border-radius: 20px;
    z-index: 10;
    overflow-y: scroll;
}

.cancel-mark {
    font-size: 18px;
    font-weight: 700;
    color: rgb(185,22,53);
    padding: 10px;
    position: absolute;
    top: 5px;
    right: 5px;
}

table {
    margin: 50px;
    padding: 10px;
    border: none;
    width: 70%;
}

tr {
    text-align: left;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

tr.headers {
    border-bottom: 1px solid #112121;
    margin-bottom: 30px;
    padding-bottom: 5px;
}

tr.order-price {
    border-top: 1px solid #112121;
    margin-top: 30px;
    padding-top: 5px;
}

th {
    text-align: left;
}

td {
    margin-right: 5px;
}

.location-submit {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    margin: 50px;
    padding: 20px;   
    color: #000;
}

.location-submit input {
    border: none;
    outline: none;
    background-color: inherit;
    border-bottom: 1px solid rgb(185,22,53);
    padding-bottom: 3px;
    font-family: "Quicksand";
    font-size: 20px;
}

.coord-form {
    display: flex;
    align-items: center;
    gap: 20px;
}

.location-submit input[type="text"] {
    font-family: "Quicksand" sans-serif;
}

.coord-submit, .current-location, .confirm-order {
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: 700;
    color: rgb(225,28,64);
    padding: 10px 20px;
    background: inherit;
    border: 1px solid rgb(225,28,64);
    border-radius: 20px;
}

.coord-submit:hover, .current-location:hover, .confirm-order:hover {
    background: rgb(225,28,64);
    color: #fff;
}

p.delivery {
    margin-left: 50px;
    font-weight: bold;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin: 50px;
    padding: 20px;   
}

.restaurant-reviews {
    padding: 50px;
}

.reviews-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(192, 186, 186);
}

.reviews-intro h2 {
    color: rgb(185,22,53);
}

.review-buttons {
    display: flex;
    gap: 20px;
    align-items: center;
}

.make-review, .reviews-toggle {
    font-family: "Quicksand" sans-serif;
    font-weight: 700;
    background-color: rgb(185,22,53);
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    color: #fff;
}

.make-review:hover, .reviews-toggle:hover {
    background: rgb(225,28,64);
}

button {
    font-family: "Quicksand";
}

.new-review {
    padding: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.new-review textarea {
    background-color: inherit;
    outline: none;
    border: 1px solid rgb(185,22,53);
    width: 40%;
    color: #000;
    font-family: "Quicksand";
    font-size: 16px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

button.reviews-toggle {
    font-family: "Quicksand";
    padding: 10px 20px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid rgb(192, 186, 186);
    padding: 10px;
}

.review-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.reviewer-img {
    width: 50px;
    height: 50px;
}

.review-headline h3, .review-headline span {
    color: rgb(230,69,95);
    font-weight: 500;
}

.review-text {
    color: #000;
}

.order-success {
    color: rgb(8, 138, 66);
    background-color: inherit;
    border: none;
    outline: none;
    font-size: 22px;
}