.select-nothing {
    color: rgb(185,22,53);
    color: rgb(230,69,95);
    color: rgb(225,28,64);
    color: rgb(192, 186, 186);
    color: rgb(240, 233, 233);
}

.toggle-active {
    width: 70%;
    position: relative;
    top: 64px;
    left: 30%;
    padding: 20px;
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    color: #000;
    border-bottom: 1px solid rgb(192, 186, 186);
}

.activate, .deactivate {
    cursor: pointer;
    outline: none;
    padding: 10px 20px;
    font-family: "Quicksand";
    font-weight: 700;
    border: 2px solid rgb(185,22,53);
    border-radius: 20px;
}

.activate {
    background-color: inherit;
    border-color:rgb(0, 204, 17);
    color: rgb(0, 204, 17);
}

.deactivate {
    background-color: inherit;
    color: rgb(185,22,53);
}

.active {
    color: rgb(66, 255, 151);
    font-weight: 700;
}

.dormant {
    color: rgb(247, 122, 122);
    font-weight: 700;
}

.activate:hover {
    background-color: rgb(6, 245, 113);
    color: #112121;
}

.deactivate:hover {
    background-color: rgb(185,22,53);
    color: #fff;
}

.section-title {
    font-size: 28px;
    color: rgb(185,22,53);
    border-bottom: 1px solid rgb(192, 186, 186);
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 50px;
    margin-top: 50px;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color:  rgb(240, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    gap: 20px;
}

.order-headline {
    display: flex;
    justify-content: space-between;
    color: rgb(185,22,53);
    border-bottom: 1px solid rgb(192, 186, 186);
}

.order-customer-name {
    font-size: 20px;
    font-weight: 500;
}

.order-time {
    color: rgb(230,69,95);
    font-weight: 500;
}

.order-body {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.order-text {
    color: #000;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.order-text span {
    color: rgb(230,69,95);
    font-weight: 700;
}

.confirm-delivered, .accept-delivery {
    cursor: pointer;
    font-family: "Quicksand";
    font-weight: 700;
    color: rgb(225,28,64);
    padding: 10px 20px;
    background: inherit;
    border: 1px solid rgb(225,28,64);
    border-radius: 20px;
}

.confirm-delivered:hover, .accept-delivery:hover {
    background: rgb(225,28,64);
    color: #fff;
}

.error-text {
    color: rgb(247, 122, 122);
}

.receipt-summary span {
    color: rgb(185,22,53);
    font-weight: 700;
}

.empty-list {
    color: #000;
}