html, body {
    height: 100%;
}

.select-nothing {
    color: rgb(185,22,53);
    color: rgb(230,69,95);
    color: rgb(225,28,64);
    color: rgb(192, 186, 186);
    color: rgb(240, 233, 233);
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

form {
    margin: 10px;
    padding: 50px;
    border-radius: 30px;
    color: #fff;
    background-color: rgb(240, 233, 233);
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    color: #000;
}

legend {
    text-align: center;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 25px;
    color: rgb(185,22,53)
}

form fieldset {
    display: flex;
    flex-flow: column;
    align-items: stretch;
    gap: 15px;
}

.field {
    display: flex;
    flex-flow: column;
    gap: 5px;
}

.field label {
    font-weight: 700;
}

.field input, .field textarea {
    font-family: "Quicksand", sans-serif;
    width: 100%;
    margin-top: 5px;
    padding: 2px 0;
    font-size: 16px;
    background-color: inherit;
    color: #000;
    /* border: 1px solid black;
    border-radius: 15px; */
    border: none;
    outline: none;
    border-bottom: 1px solid #000;
}

textarea {
    border: 1px solid rgb(66, 255, 151);
}

.submit input {
    width: 100%;
    padding: 15px 30px;
    margin-top: 10px;
    outline: none;
    background-color: rgb(185,22,53);
    border: none;
    border-radius: 20px;
    color: #fff;
    font-family: "Quicksand", sans-serif;
    font-weight: 700;
}

.submit input:hover {
    background-color: rgb(230,69,95);
    cursor: pointer;
}

@media screen and (max-width: 800px) {
    form {
        padding: 50px 25px;
    }

    legend {
        font-size: 24px;
    }
}

@media screen and (max-width: 500px) {
    form {
        padding: 50px 25px;
    }

    legend {
        font-size: 20px;
    }

    .field label {
        font-size: 14px;
    }

}
