.main-nav {
    margin-left: 20px;
    height: 100%;
    width: 25%;

    position: fixed;
    top: 64px;
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    padding: 20px;
    gap: 20px;
}

.nav-item {
    padding: 30px;
    background-color:rgb(46, 54, 59);
    border-radius: 10px;
    font-weight: bold;

    display: flex;
    gap: 20px;
}

.nav-item:hover {
    cursor: pointer;
    background-color:rgb(74, 82, 87);
}

.content {
    width: 70%;
    background: rgb(4, 19, 32);
    position: relative;
    top: 64px;
    left: 30%;
    padding: 20px;
    padding-right: 50px;
}

.nav-item.clicked {
    border: 2px solid rgb(66, 255, 151);
}

/* HTML: <div class="loader"></div> */
.loader {
    width: 60px;
    margin: 0 auto;
    aspect-ratio: 2;
    --_g: no-repeat radial-gradient(circle closest-side,rgb(66, 255, 151) 90%,rgb(66, 255, 151, 0));
    background: 
      var(--_g) 0%   50%,
      var(--_g) 50%  50%,
      var(--_g) 100% 50%;
    background-size: calc(100%/3) 50%;
    animation: l3 1s infinite linear;
  }
  @keyframes l3 {
      20%{background-position:0%   0%, 50%  50%,100%  50%}
      40%{background-position:0% 100%, 50%   0%,100%  50%}
      60%{background-position:0%  50%, 50% 100%,100%   0%}
      80%{background-position:0%  50%, 50%  50%,100% 100%}
  }

.intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
    margin-bottom: 20px;
}

.intro h1, .dishes-section h2 {
    font-size: 28px;
    color: rgb(66, 255, 151);
}

.edit-restaurant, .new-dish, .edit-dish, .reviews-toggle {
    font-family: "Quicksand" sans-serif;
    outline: none;
    font-size: 500;
    padding: 8px 20px;
    border: none;
    background-color: rgb(8, 138, 66);
    color: #fff;
    border-radius: 10px;
}

.edit-restaurant:hover, .new-dish:hover, .edit-dish:hover, .reviews-toggle:hover {
    background-color: rgb(27, 185, 98);
}


.description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    padding-bottom: 10px;
    margin-bottom: 20px;
    border-bottom: 1px solid #fff;
}

.restaurant-img {
    display: inline-block;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}

.description i {
    font-size: 24px;
    color: #f00;
    margin-right: 10px;
}

.dishes-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
}

div .popup-new-dish {
    width: 40%;
}

.dishes {
    display: flex;
    flex-direction: column;
    gap: 30px;
    margin-bottom: 30px;
}

.dish {
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 20px;
    background-color: #112121;
    border: 2px solid rgb(66, 255, 151);
}

.dish-main {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.dish-intro {
    display: flex;
    gap: 20px;
    align-items: center;
}

.dish-intro h2, .reviews-intro h2 {
    color: rgb(66, 255, 151);
}

.dish-img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}

.dish-price {
    font-size: 20px;
    color: rgb(66, 255, 151);
}

a {
    display: inline-block;
}

.reviews-intro {
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #fff;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

.reviews {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 20px;
}

button.reviews-toggle {
    font-family: "Quicksand";
    padding: 10px 20px;
}

.review {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-bottom: 1px solid rgb(66, 255, 151);
    padding: 10px;
}

.review-headline {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.reviewer {
    display: flex;
    gap: 20px;
    align-items: center;
}

.reviewer-img {
    width: 50px;
    height: 50px;
}

.review-headline h3, .review-headline span {
    color: rgb(66, 255, 151);
    font-weight: 500;
}

.section-title {
    font-size: 28px;
    color: rgb(66, 255, 151);
    border-bottom: 1px solid #fff;
    margin-bottom: 20px;
    padding-bottom: 10px;
}

.orders {
    display: flex;
    flex-direction: column;
    gap: 50px;
}

.order {
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: #112121;
    border: 2px solid rgb(66, 255, 151);
    gap: 20px;
}

.order-headline {
    display: flex;
    justify-content: space-between;
    color: rgb(66, 255, 151);
    border-bottom: 1px solid rgb(66, 255, 151);
}

.order-customer-name {
    font-size: 20px;
    font-weight: 500;
}

.order-time {
    color: rgb(66, 255, 151);
}

.order-body {
    display: flex;
    justify-content: space-between;
}

.order-text {
    color: #fff;
}

.awaiting-driver {
    color: rgb(66, 255, 151);
}

.order-license-num {
    color: rgb(66, 255, 151);
}