{% extends "register.html" %}
{% block title %}Log into your account{% endblock title %}
{% block other %}
    <style>
        body {
            background-color: rgb(179, 248, 225);
        }
    </style>
{% endblock other %}
{% block form %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Sign In</legend>
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <p class="flash {{category}}">{{ message }}</p>
                {% endfor %}
            {% endif %}
            {% endwith %}
            <div class="field">
                {{ form.email.label }}
                {% if form.email.errors %}
                    {{ form.email }}
                    <div>
                        {% for error in form.email.errors %}
                            <span class="error-span">{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.email }}
                {% endif %}
            </div>
            <div class="field">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(type="password") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span class="error-span">{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.password(type="password") }}
                {% endif %}
            </div>
            <div class="field remember">
                {{ form.remember }}
                {{ form.remember.label  }}
            </div>
        </fieldset>
        <div class="submit login-submit">
            {{ form.submit }}
            <small><a href="{{ url_for('request_reset_password') }}">Forgot password?</a></small>
        </div>
        <small>Don't have an account? &nbsp<a href="{{ url_for('register') }}">Sign Up</a></small>
    </form>
{% endblock form %}
