{% extends "logged_in_home.html" %}
{% block meta %}
    <link rel="stylesheet" href="{{ url_for('static', filename='styles/owner_home.css') }}">
    <script src="{{ url_for('static', filename='scripts/owner_home.js') }}"></script>
{% endblock meta %}
{% block main_content %}
    <div class="main-content">
        <div class="intro">
            <h1>My Restaurants</h1>
            <a class="add-restaurant" href="http://127.0.0.1:5000/o/new-restaurant"><i class="fa-solid fa-plus"></i> New</i></a>
        </div>
        <div class="owner-restaurants"></div>
    </div>
{% endblock main_content %}