{% extends "register.html" %}
{% block title %}Request a password reset{% endblock title %}
{% block other %}
    <style>
        body {
            background-color: rgb(56, 156, 73);
        }
    </style>
{% endblock other %}
{% block form %}
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <legend>Reset Password</legend>
            <div class="field">
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(type="password") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span class="error-span">{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.password(type="password") }}
                {% endif %}
            </div>
            <div class="field">
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(type="password") }}
                    <div>
                        {% for error in form.confirm_password.errors %}
                            <span class="error-span">{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.confirm_password(type="password") }}
                {% endif %}
            </div>
        </fieldset>
        <div class="submit reset-password-submit">
            {{ form.submit }}
        </div>
    </form>
{% endblock form %}
