<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="POST" action="">
        {{ form.hidden_tag() }}
        <fieldset>
            <div>Customer</div>
            <legend>Reset Password</legend>
            <div>
                {{ form.password.label }}
                {% if form.password.errors %}
                    {{ form.password(type="password") }}
                    <div>
                        {% for error in form.password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.password(type="password") }}
                {% endif %}
            </div>
            <div>
                {{ form.confirm_password.label }}
                {% if form.confirm_password.errors %}
                    {{ form.confirm_password(type="password") }}
                    <div>
                        {% for error in form.confirm_password.errors %}
                            <span>{{ error }}</span>
                        {% endfor %}
                    </div>  
                {% else %}
                    {{ form.confirm_password(type="password") }}
                {% endif %}
            </div>
        </fieldset>
        <div>
            {{ form.submit }}
        </div>
    </form>
</body>
</html>